.clue {
    background-color: #060CE9;
    color: #FFFFFF;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
    padding: 5px 5px 5px 5px;
    width: 154px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}