<app-header></app-header>
<table>
  <tbody>
    <tr>
      <td>
        <app-clue [percentage]="percentage[0]" [cardColor]="cardColor[0]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[1]" [cardColor]="cardColor[1]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[2]" [cardColor]="cardColor[2]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[3]" [cardColor]="cardColor[3]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[4]" [cardColor]="cardColor[4]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[5]" [cardColor]="cardColor[5]"></app-clue>
      </td>
    </tr>
    <tr>
      <td>
        <app-clue [percentage]="percentage[6]" [cardColor]="cardColor[6]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[7]" [cardColor]="cardColor[7]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[8]" [cardColor]="cardColor[8]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[9]" [cardColor]="cardColor[9]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[10]" [cardColor]="cardColor[10]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[11]" [cardColor]="cardColor[11]"></app-clue>
      </td>
    </tr>
    <tr>
      <td>
        <app-clue [percentage]="percentage[12]" [cardColor]="cardColor[12]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[13]" [cardColor]="cardColor[13]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[14]" [cardColor]="cardColor[14]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[15]" [cardColor]="cardColor[15]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[16]" [cardColor]="cardColor[16]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[17]" [cardColor]="cardColor[17]"></app-clue>
      </td>
    </tr>
    <tr>
      <td>
        <app-clue [percentage]="percentage[18]" [cardColor]="cardColor[18]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[19]" [cardColor]="cardColor[19]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[20]" [cardColor]="cardColor[20]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[21]" [cardColor]="cardColor[21]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[22]" [cardColor]="cardColor[22]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[23]" [cardColor]="cardColor[23]"></app-clue>
      </td>
    </tr>
    <tr>
      <td>
        <app-clue [percentage]="percentage[24]" [cardColor]="cardColor[24]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[25]" [cardColor]="cardColor[25]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[26]" [cardColor]="cardColor[26]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[27]" [cardColor]="cardColor[27]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[28]" [cardColor]="cardColor[28]"></app-clue>
      </td>
      <td>
        <app-clue [percentage]="percentage[29]" [cardColor]="cardColor[29]"></app-clue>
      </td>
    </tr>
  </tbody>
</table>
<app-filters (onFormGroupChange)="onFormGroupChangeEvent($event)"></app-filters>