.dataOptions {
    padding-left: 350px;
}

.column {
    float: left;
    width: 160px;
}

.gameTypeColumn {
    float: left;
    width: 200px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #060CE9;
}

